<div class="card shadow-sm">
  <div class="card-body">
    <h1 class="h4 mb-3">Novo Curso</h1>
    <form action="/cursos/create" method="POST">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" class="form-control" required>
      </div>

      <div class="form-group mt-2">
        <label for="cargaHoraria">Carga Horária (h)</label>
        <input type="number" name="cargaHoraria" id="cargaHoraria" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary mt-3">Salvar</button>
    </form>
  </div>
</div>