<footer class="footer mt-auto py-3 bg-primary text-center">
    <div class="container">
    <span class="text-light">Rodapé do projeto.</span>
    </div>
    <div class="mb-3">
        <img class="rodape" src="./imgs/abra-o-livro.png">
        <img class="rodape" src="./imgs/escola.png">
        <img class="rodape" src="./imgs/diplomado.png">
    </div>
</footer>
