<h1 class="mt-4">Integrantes</h1>

<div class="row">
    <div class="col-md-6 text-center">
        <img src="#" alt="Thaina" class="img-fluid rounded-circle" width="150">
        <h5 class="mt-2">Thainá</h5>
        <img src="#" alt="Julia" class="img-fluid rounded-circle" width="150">
        <h5 class="mt-2">Júlia</h5>
        <img src="#" alt="Nicole" class="img-fluid rounded-circle" width="150">
        <h5 class="mt-2">Nicole</h5>
    </div>
</div>

