<h1 class="titulos">Programação Web</h1>
<p>Programação web é a criação e desenvolvimento de websites e aplicações que são 
executados na internet. Envolve escrever códigos usando linguagens como HTML, CSS e 
JavaScript para definir a estrutura e o design de uma página (front-end), além de 
linguagens de programação (back-end) para gerenciar a lógica, os dados e as funções do 
servidor. 
</p>
<h3 class="titulos">Principais Tecnologias e Linguagens</h3>
<h5 class="titulos">HTML:</h5>
<p>Linguagem de marcação que define a estrutura e o conteúdo de uma página web.</p>
<h5 class="titulos">CSS:</h5>
<p>Usada para controlar a aparência visual da página, como cores, fontes e layouts.</p>
<h5 class="titulos">Javascript:</h5>
<p>Linguagem de programação que permite criar interatividade e comportamentos dinâmicos 
em um site, sendo executada no navegador do usuário.
</p>
<h5 class="titulos">Linguagens Back-End:</h5>
<p>Como PHP, Python, Java e outras, são usadas para processar informações e a lógica do 
servidor, que são depois enviados para o front-end.
</p>
<h3 class="titulos">Aplicações da programação web</h3>
<h5 class="titulos">Sites e portais:</h5>
<p>Criação de qualquer tipo de website, desde páginas simples até portais complexos. 
</p>
<h5 class="titulos">Aplicações web:</h5>
<p>Desenvolvimento de softwares e ferramentas que podem ser acessados através de um 
navegador, como redes sociais, e-commerces e sistemas de gestão.
</p>
<h5 class="titulos">Manutenção:</h5>
<p>Além da criação, a programação web abrange a manutenção e atualização contínua dessas 
aplicações. 
</p>

