<h1 class="titulos">Sobre Sistemas Embarcados</h1>
<p>Sistemas embarcados são sistemas de computador dedicados, com hardware e software 
integrados, projetados para executar uma ou poucas funções específicas dentro de um 
dispositivo maior. Eles são otimizados para custo, consumo de energia e tamanho, operam 
em tempo real e são usados em eletrônicos de consumo (como micro-ondas), automóveis 
(sistemas ABS), equipamentos médicos e na indústria, sendo a base da Internet das 
Coisas (IoT). 
</p>
<h3 class="titulos">Característcas Principais</h3>
<h5 class="titulos">Função específica:</h5>
<p>Diferente de computadores de uso geral, que podem fazer tudo, sistemas embarcados são 
feitos para uma tarefa ou um conjunto limitado de tarefas. 
</p>
<h5 class="titulos">Integração:</h5>
<p>Eles são incorporados diretamente em um produto ou equipamento maior, como o "cérebro" 
de um dispositivo. 
</p>
<h5 class="titulos">Restrições de recursos:</h5>
<p>Geralmente possuem memória limitada, processamento dedicado e baixo consumo de energia. 
</p>
<h5 class="titulos">Tempo real:</h3>
<p>Muitos sistemas embarcados precisam reagir a eventos externos muito rapidamente, como 
o acionamento dos freios de um carro em milissegundos. 
</p>
<h5 class="titulos">Exemplos de Aplicações:</h5>
<p><b>Automóveis:</b> Controle de motores, freios ABS e sistemas de navegação. <br>
<b>Eletrodomésticos:</b> Fornos micro-ondas, geladeiras e máquinas de lavar, que controlam 
ciclos e temperatura. <br>
<b>Dispositivos médicos:</b> Monitores cardíacos, respiradores e bombas de infusão. <br>
Sistemas de segurança: Alarmes de incêndio, câmeras de vigilância e fechaduras 
eletrônicas. 
</p>