<h1 class="titulos">Vestibulinho ETEC</h1>
<p>O Vestibulinho Etec é o processo seletivo para ingressar nas Escolas Técnicas Estaduais 
(Etecs) do Centro Paula Souza. Através de uma prova com 50 questões de múltipla escolha, 
o exame avalia conhecimentos do Ensino Fundamental, abrangendo matérias como Português, 
Matemática, História e Geografia, e também competências em análise crítica e 
responsabilidade social. A prova é uma oportunidade para obter formação técnica 
profissional gratuita, e também existe a opção de cursar o ensino médio junto com o 
técnico.
</p>
<h3 class="titulos">Característcas do vestibulinho ETEC</h3>
<h5 class="titulos">Propósito</h5>
<p>Selecionar estudantes para os cursos técnicos e, em alguns casos, o ensino médio 
integrado ao técnico.
</p>
<h5 class="titulos">A prova:</h5>
<p>É uma prova com 50 questões de múltipla escolha, que não são separadas por disciplinas, 
podendo ser multidisciplinares.
</p>
<h5 class="titulos">Conteúdo:</h5>
<p>As questões avaliam os conhecimentos do Ensino Fundamental, de acordo com a Base 
Nacional Comum Curricular (BNCC), além de temas atuais que promovem uma sociedade mais justa e sustentável.
</p>
<h5 class="titulos">Oportunidade de Formação:</h5>
<p>As Etecs oferecem ensino técnico e, em alguns casos, a formação no ensino médio, 
preparando o aluno para o mercado de trabalho e para o ensino superior.
</p>
<img src="./imgs/vestibulinho-etec.jpg" alt="">