p{
    font-size: 20px;
    font-family: Montserrat;
}
.titulos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.rodape{
    max-width: 30px;
    height: auto;
    margin: 0 5px;
}