<h1>Cadastro</h1>

<a href="/usuario/add" class="btn btn-success mb-3">Adicionar novos usuários</a>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Thainá</td>
      <td>
        <!-- Botão Editar -->
        <a href="/usuario/edit/1" class="btn btn-sm btn-primary">
          <i class="bi bi-pencil-square"></i>
        </a>

        <!-- Botão Excluir -->
        <a href="/usuario/delete/1" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir?')">
          <i class="bi bi-trash"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Nicole</td>
      <td>
        <a href="/usuario/edit/2" class="btn btn-sm btn-primary">
          <i class="bi bi-pencil-square"></i>
        </a>
        <a href="/usuario/delete/2" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir?')">
          <i class="bi bi-trash"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Júlia</td>
      <td>
        <a href="/usuario/edit/2" class="btn btn-sm btn-primary">
          <i class="bi bi-pencil-square"></i>
        </a>
        <a href="/usuario/delete/2" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir?')">
          <i class="bi bi-trash"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
 