<div class="card shadow-sm">
  <div class="card-body">
    <h1 class="h4 mb-3">Editar Professor</h1>

    <form action="/professores/editar/<%= professor.id %>" method="POST">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input
          type="text"
          name="nome"
          id="nome"
          class="form-control"
          value="<%= professor.nome %>"
          required
        >
      </div>

      <div class="form-group mt-2">
        <label for="disciplina">Disciplina</label>
        <input
          type="text"
          name="disciplina"
          id="disciplina"
          class="form-control"
          value="<%= professor.disciplina %>"
          required
        >
      </div>

      <button type="submit" class="btn btn-primary mt-3">
        Salvar Alterações
      </button>
    </form>
  </div>
</div>
