<h1 class="titulos">Projeto EPA 2025</h1>
<h3 class="titulos">O que é o EPA?</h3>
<p>A Etec de Portas Abertas é um evento promovido pelo Centro Paula Souza (CPS), 
no estado de São Paulo, que abre as portas das Escolas Técnicas (Etecs) 
para apresentar sua estrutura, os cursos técnicos oferecidos e os trabalhos desenvolvidos 
pelos alunos à comunidade, especialmente a estudantes do Ensino Médio e interessados em 
ingressar na educação profissional. O objetivo é informar sobre as diversas formações 
e facilitar a interação entre alunos, professores, e o público-alvo, além de fornecer 
orientações sobre os processos seletivos.</p>
<h3 class="titulos">Para que serve a Etec de Portas Abertas? </h3>
<h5 class="titulos">Conhecer a estrutura física:</h5>
<p>Permite aos visitantes conhecerem os laboratórios, oficinas e outras instalações da Etec.</p>
<h5 class="titulos">Apresentar os cursos técnicos:</h5>
<p>Os participantes têm a oportunidade de conhecer as diferentes áreas de formação técnica 
disponíveis.
</p>
<h5 class="titulos">Exibir trabalhos de alunos:</h5>
<p>São mostrados projetos e trabalhos desenvolvidos pelos estudantes, demonstrando a 
qualidade do aprendizado.
</p>
<h5 class="titulos">Trocar experiências:</h5>
<p>Os visitantes podem conversar com alunos e professores para tirar dúvidas sobre os 
cursos, o dia a dia da escola e o mercado de trabalho.
</p>
<h5 class="titulos">Orientar sobre o ingresso:</h5>
<p>As Etecs oferecem informações e orientações sobre como se candidatar e ser aprovado nos 
processos seletivos para os cursos.
</p>

<iframe class="embed-responsive-item" 
    src="https://www.youtube.com/embed/w-hCJjrqdVg" 
    title="Vídeo de introdução ao EPA"
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
</iframe>

<h1 class="titulos">Mapa Etec de Itu</h1>
    <div class="ratio ratio-16x9">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3664.778753974553!2d-47.29275002379603!3d-23.287487551589404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf5ab2d35d2b0d%3A0x90131a5f0c2272b3!2sEscola%20T%C3%A9cnica%20Estadual%20Martinho%20di%20Ciero%20-%20Itu!5e0!3m2!1spt-BR!2sbr!4v1756920996272!5m2!1spt-BR!2sbr"
            allowfullscreen
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>

<style>
  .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
</style>