<h1 class="titulos">Nosso Projeto EPA 2025</h1>
<h3 class="titulos">Projeto: Lâmpada que Acende por Palmas</h3>
<p>O nosso projeto tem como objetivo desenvolver uma lâmpada inovadora que liga e desliga por meio de barulho, como o som de palmas. Essa tecnologia é baseada no uso de um sensor de som, que detecta a intensidade do ruído no ambiente e envia um sinal para o circuito responsável por acionar a lâmpada.

A ideia surgiu com o propósito de trazer praticidade e modernidade para o dia a dia, permitindo que o usuário tenha maior comodidade, especialmente em situações onde não é possível utilizar as mãos para ligar o interruptor.</p>