<h1>Editar Usuário</h1> 

<form action="" method="POST"> 

    <div class="form-group"> 

        <label for="nome">Editar informações de usuário</label> 

        <input type="text" class="form-control" id="nome" name="nome" value="" required> 

    </div> 

    <button type="submit" class="btn btn-primary">Atualizar informações</button> 

</form> 