<div class="card shadow-sm">
    <div class="card-body">
      <h1 class="h4 mb-3">Editar Categoria</h1>
      <form method="POST" action="/categorias/<%= id %>/edit" class="row g-3">
        <div class="col-md-8">
          <label class="form-label">Nome</label>
          <input type="text" name="nome" value="<%= categoria.nome %>" class="form-control" required>
        </div>
        <div class="form-group mt-2">
            <label class="descricao">Descrição</label>
            <textarea name="descricao" class="form-control" id="descricao" rows="3" required><%= categoria.descricao %></textarea>
        </div>
        <div class="col-12">
          <a href="/categorias" class="btn btn-outline-secondary">Cancelar</a>
          <button type="submit" class="btn btn-primary">Atualizar</button>
        </div>
      </form>
    </div>
  </div>
  